# fly.toml app configuration file generated for wallet-service-cogmhg on 2025-12-09T17:04:19Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wallet-service-cogmhg'
primary_region = 'jnb'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
